.header-cnt{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}

.space-cnt{
    display: flex;
    margin-left: 9.79%;
    gap: 10px;
}

.logo{
    width: 50px;
    height: 47px;
    padding-left: 9.79%;
}

.title_up{
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #82A70C;
    text-transform: uppercase;
}

.title_btm{
    text-align: left;
    font: normal normal bold 22px/25px Montserrat;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: uppercase;
}
.outter-ctn{
    width: 100%;
    padding: 50px 0px;
    background: #F7F7F7;
    opacity: 1;
}
.outter-head-cnt{
    width: 78%;
    margin: auto;
}
.inner-head-cnt{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font: normal normal bold 25px/25px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    opacity: 1;
}
.tablehead-btn{
    display: flex;
    gap: 20px;
}
.searchbtn { 
    width: 60px;
    height: 45px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    border: none;
    opacity: 1; 
    background-image: url(/assets/search-icon.svg);
    background-position: center;
}
.addbtn{
    width: 160px;
    height: 45px;
    background: #82A70C 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    font: normal normal normal 20px/24px Roboto;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}
.table-ctn{
    padding: 50px 0px;
}
.table{
    width: 100%;
    border: 1.5px solid #E3E3E3;
    border-collapse: collapse
}
th {
    background: #42515F 0% 0% no-repeat padding-box;
    opacity: 1;
    color: white; 
    font-family: Roboto;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
  }
td {
    color: #3D3D3D;
    text-align: center;
    padding: 26px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-bottom: 1.5px solid #E3E3E3;
}
.profileImg-cnt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.action-btn{
    display: flex;
    align-items: center;
    gap: 40%;
}
.dept-outter-cnt{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.dept-ctn{
    padding: 5px 20px;
    background: #E9FEA5 0% 0% no-repeat padding-box;
    border-radius: 13px;
    opacity: 1
}